@import url(../../assets/fonts/font.scss);

.container {
  margin-top: 30px;
  margin-bottom: 30px;

  h1 {
    font-size: 45px;
    font-family: PantonBold;
    letter-spacing: 1px;
    flex-wrap: nowrap;
  }

  .firstRow {
    display: flex;
    align-items: center;

    .vignette {
      content: "";
      margin-left: 20px;
      height: 40px;
      width: 130px;
      background-color: black;
      border-radius: 25px;
      overflow: hidden;

      img {
        position: relative;
        transform: scaleX(-1) translate(20%, -23%);
        margin-left: 15px;
        width: 150px;
      }
    }
  }
  .secondRow {
    display: flex;
    align-items: center;

    .little {
      width: 350px;
      p {
        font-family: PantonLight;
        font-size: 12px;
        margin-left: 15px;
        line-height: 18px;
      }
    }
  }
}


@media (max-width:768px) {
  .container{
    .firstRow{
      min-width: 800px;
      .vignette{
        position: relative;
        top: 52px;
        left: -200px;
      }
    }
    .secondRow{
      .little{
        display: none;
      }
    }
  }
  
}

@media (max-width:425px){
  .container{
    .firstRow{
      h1{
        width: 400px;
      }
      .vignette{
        position: relative;
        width: 130px;
        top: 25px;
        left: -160px;
      }
    }
    .secondRow{
      .secondTitle{
        width: 100px;
      }
      .little{
        display: none;
      }
    }
  }
}


@media (max-width:376px) {
  .container {
    display: flex;
    flex-direction: column;
    .firstRow {
      display: flex;
      flex-direction: column;
      align-items: center;
      h1{
        position: relative;
        left: -220px;
        width:350px;
      }
      .vignette {
        position: relative;
        top: -52px;
        left: -210px;
      }
    }
    .secondRow {
      .secondTitle{
        margin-top: -40px;
      }
        .little {
          display: none;
        }
      
    }
  }
}

