$second : rgba(151,152,156,0.2);



.question{
    
    border: 1px solid $second;
    border-radius: 15px;
    margin:  15px 0px;
    header{
        display: flex;
        justify-content: space-between; 
        align-items: center;
        height: 60px;
        
        h4{
            font-family: PantonBold;
            font-size: 15px;
            margin-left: 15px;
        }
         .btn{
            border: none;
            border-radius: 45px;
            height: 25px;
        margin-right: 15px;
    }

    
    }
    .info{
        font-family: PantonLight;
        font-size: 12px;
        margin:15px
    }

   
}