.containerImage{
    margin-top: 4%;
    border-radius:30px;
    overflow: hidden;
    z-index: -1;

    .firstRow{
        display: flex;
    }
    .secondRow{
        display: flex;
        margin-top: -5px;
    }

    .img{
        width: 400px;
    }
}


@media (max-width:768px){
    .containerImage{
        
        .img{
            width: 350px;
            transform: translateX(0px);
        }
    }
    .search{
        position: relative;
        top: 35px;
    }
}

@media (max-width:425px){
    .containerImage{

        .img{
            width: 200px;
            transform: translateX(-0px);
        }
    }
    .search{
        position: relative;
        top: 135px;
        left: -100px;
    }
}

@media (max-width:320px){
    .containerImage{

        .img{
            width: 150px;
            transform: translateX(-0px);
        }

    }
    .search{
        position: relative;
        top: 35px;
        left: 0px;
    }
}
