@font-face {
    font-family: PantonBold;
    src: url(./panton/Panton-Trial-ExtraBold.ttf);
}
@font-face {
    font-family: PantonLight;
    src: url(./panton/Panton-Trial-Bold.ttf);
}
@font-face {
    font-family: FrancoisOne;
    src: url(./Francois_One/FrancoisOne-Regular.ttf);
}