$primmary:rgba(253,91,50);

.container{
    
    button{
        position: relative;
        top: 1px;
        padding: 0;
        margin-left: 5px;
        height: 35px;
        width: 35px;
        border: none;
        font-size: 14px;
        border-radius: 90px;
        background: white;
        color: $primmary;
    }

    button:hover{
        color:white;
        background-color: $primmary;
    }
   
}