/* .error {
  border: 1px solid #f00;
  background-color: #fdd;
}

.errorSerious {
  border-width: 3px;
} */


.error {
    margin-bottom: 10px;
    border-top: 1px solid#f00;
    background-color: #fdd;
  
    &Serious {
      @extend .error;
      border-bottom: 3px solid black;
    }
  }