.container{
    display: flex;
    align-items: center;



    .puzzle{
        font-size: 23px;
        color:rgba(253,91,50,1)
    }

    a{
        text-decoration: none;
        color:black
    }
    .title{
        position: relative;
        top: -1px;
        padding-left: 10px;
        font-size: 25px;
        font-weight: 700;
        
    }
}