.imgContainer {
  display: flex;
  height: 350px;
  
  justify-content: space-between;

  .vertical {
    overflow: hidden;
    border-radius: 20px;
    width: 25%;

    img {
      transform: translate(-40%, 0%);
    }

    
  }
  .centerCol {
    width: 48%;
    display: flex;
    flex-direction: column;

    .topCol {
      overflow: hidden;
      border-radius: 20px;
      height: 50%;
      margin-bottom: 10px;

      img {
        width: 100%;
        transform: translateY(-10%);
      }
    }
    .centerRow {
      display: flex;
      justify-content: space-evenly;

      .row1 {
        background: pink;
        overflow: hidden;
        border-radius: 20px;
        margin-right: 10px;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .row2 {
        background: blue;
        overflow: hidden;
        border-radius: 20px;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}


.tinyText{
    display:flex;
    justify-content:center;
    margin-top: 15px;
    font-family: PantonLight;
    font-size: 12px;
}


@media (max-width:425px){
 .imgContainer{
  

    .vertical{
      display: none;
    }
    .centerCol{
      width:100%;
      .topCol{
        margin-bottom: 2%;
      }
      .centerRow{
        
        .row1{
          margin-right: 2%;
        }
      }
    }
 }
  
} 