$primmary:rgb(253, 91, 50);

.toggleContainer{
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
    .buttonContainer {
        
        display: flex;
        justify-content: space-between;
        border-radius: 20px;
        width: 150px;
        border: 1px solid $primmary;
        background-color: white;
        margin-bottom: 25px;
        overflow: hidden;

       span{
        margin: 10px;
        
       }
       .middle {
        overflow: hidden;
        background: orange;
      }
       .first{
        color: $primmary;
       
       }
      
       .second{
        color: $primmary;
        background: white;
       }

    .active{
        
        color: blue;
    }
}


}


