.container{
    display: flex;
    position: relative;
    align-items: center;
    top:-290px;
    left: 30%;
    z-index: 99;

    input{
        border-radius: 20px;
        border: none;
        padding: 8px;
        width: 300px;
        outline: none;
        
    }
    input::placeholder{
        padding-left:8px;
        color:rgb(203, 203, 203);
    }
    input:focus::placeholder{
        font-size: 12px;
        transition: 0.4s ease-out;
    }
    
    
}

@media (width <= 320px){
    .container{
        top:-155px;
        left: 30px;
        input{
            width: 200px;
        }
    }
}