.footer {
  
  margin-top: 5%;
  background: rgb(253, 91, 50);
  height: 45px;
  .footerContainer {
    display: flex;
    justify-content: space-between;
    padding-top: 8px;
    margin: 5%;

    align-items: center;
    filter: brightness(0) invert(1);
  }

  nav {
    ol {
      float: right;
      display: flex;

      li {
        margin-left: 15px;
        list-style: none;
        a {
          font-family: PantonLight;
          font-size: 12px;
          text-decoration: none;
        }
      }
    }
  }
}
