.container{
    margin-left: 100px;
    margin-right: 100px;

    .section1{
        display: flex;
    }
    .section{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}


.margin{
    margin-top: 5px;
    margin-bottom: 25px;
}

.CardItems{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}