
  .container {
    margin-left: 5%;
    margin-right: 5%;
    .section1 {
      display: flex;
    }
    .section {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  .margin {
    margin-top: 5px;
    margin-bottom: 25px;
  }

  .CardItems {
    margin-top: 30px;
    
    display:flex;
    flex-direction: row;
    align-items: center;
    
  }


@media (width <=476px) {
  .container {
    display: flex;
    flex-direction: column;
    margin:0 3%;

    .section{
     
    .buttonGenerator{
      display: flex;
      
      justify-content: center;
    }
  }
  .twoImages{
    
    position: relative;
    margin-top:-9% ;
  }
 .cardItems{
    display: flex;
    flex-direction: column;
  .cardItem{
    margin-bottom: 10%;
  }
 }
  }
}

@media(width >=1024px){
  .container{
    .sectionImages{
      margin-top: 3%;
    }
    .cardItems{
      display: flex;
      justify-content: space-between;
    }
  }
}

