@media (width >=1024px) {
    
.container{
    
    margin-left: 5%;
    margin-right: 5%;
    
    

    .section1{
        display: flex;
    }
    .section{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}


.margin{
    margin-top: 5px;
    margin-bottom: 25px;
}

.CardItems{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
}


@media (width >=768px) {
    .container{
        display: flex;
        flex-direction: column;
        
       
    }
}
@media (width >=320) {
    .container{
        display: flex;
        flex-direction: column;
        margin: 0 5%;
    }
}
